<footer class="section-frame footer">
    <p class="text-5xl">DuskShift</p>
    <p class="footer-copyright">Copyright 2026/12/31 Dawn All Rights Reserved.</p>
</footer>

<style lang="scss">
    .footer{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &-copyright{
            position:absolute;
            width:100vw;
            bottom:0;
            color:black;
            text-align: center;
            letter-spacing: 0.2rem;
        }
    }
</style>