html,
body {
  font-family: "KleeOne";
  font-size: clamp(12px, 1vw, 16px);
}

* {
  font-family: "KleeOne";
}

html,
body,
p,
span,
figure {
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
}

button {
  border: none;
  background: transparent;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
